trigger: none

pool: Default


variables:
  def_path: $(System.DefaultWorkingDirectory)/modules



steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(def_path)'
    backendServiceArm: 'First_service_connection'
    backendAzureRmStorageAccountName: 'satishstg111222'
    backendAzureRmContainerName: 'newcontainer'
    backendAzureRmKey: 'terraform.tfstate'

# - task: TerraformTask@5
#   inputs:
#     provider: 'azurerm'
#     command: 'plan'
#     workingDirectory: '$(def_path)'
#     environmentServiceNameAzureRM: 'First_service_connection'

# - task: TerraformTask@5
#   inputs:
#     provider: 'azurerm'
#     command: 'apply'
#     workingDirectory: '$(def_path)'
#     environmentServiceNameAzureRM: 'First_service_connection'

# - task: tfsec@1
#   inputs:
#     version: 'v1.26.0'
#     dir: '$(def_path)'


# - task: CmdLine@2
#   inputs:
#     script: 'tflint --recursive /f junit > tflint-out.xml'
#     workingDirectory: '$(def_path)'

- task: PowerShell@2
  displayName: tflint
  inputs:
    targetType: 'inline'
    script: |
      cd '$(def_path)'
      tflint --init
      tflint --recursive
      
  
# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'checkov -d.'
#     errorActionPreference: 'continue'
#     warningPreference: 'continue'
#     workingDirectory: '$(def_path)'
